header {
  background: white;
  color: $text-color;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  height: 65px;
  width: 100%;
  img {
    width: 3%;
  }
}

.site-navigation {
  margin: 0;
  position: sticky;
  top: 0px;

  .nav-links {
    margin: 0;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    height: 100%;
    list-style-type: none;
    align-items: center;
    background-color: deeppink;

    li {
      height: 200px;
      b
      &:empty {
        height: 0;
        border: none;
      }

      a {
        text-decoration: none;
        font-size: 20px;
        color: black;
        text-align: center;
        position: sticky;
        top: 0px;

        &:hover {
          color: $text-link;
        }
      }
    }
  }
}
